.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
    width: 100%;
}

.pagination-container button {
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
    font-family: 'Poppins';
    transition: color 0.3s ease;
}

.pagination-container button:hover {
    color: #2d8361;
}