* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

footer {
  height: 248px;
  background-color: #F5F5DC;
  padding-top: 68px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container {
  width: 165px;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.logo-footer a {
  font-family: "Josefin Sans";
  color: #275845;
  font-size: 20px;
  font-weight: 600;
  margin-top: 3px;
  text-decoration: none;
}

.footer .list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.footer ol {
  list-style: none;
  text-align: center;
}

.footer ol li a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.footer ol li {
  display: inline-block;
}

.footer .social-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.footer .social {
  color: #53B38D;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer .social a {
  width: 35px;
  height: 29px;
  color: #53B38D;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer .social i {
  font-size: 24px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.copyright p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #252822;
  padding-right: 5px;
}

.copyright a {
  font-size: 16px;
  font-weight: 400;
  color: #252822;
} 

.fa-heart {
  color: #48cd2e;
  font-size: 16px;
}

@media (max-width: 800px) {
  footer {
    height: 248px;
    padding-top: 30px;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  .logo-footer {
    justify-content: center;
  }

  .list-container {
    display: flex;
    justify-content: center;
    order: -1;
  }

  .footer .list-menu {
    gap: 20px;
    padding-left: 0px;
  }

  .footer ol li a {
    font-size: 15px;
    font-weight: 500;
  }

  .copyright {
    margin-top: 30px;
  }

  .copyright p {
    font-size: 12px;
    font-weight: 400;
    padding-right: 0px;
  }

  .copyright a {
    font-size: 12px;
    font-weight: 400;
    color: #252822;
  } 
}

@media (min-width: 801px) and (max-width: 1200px) {
  footer {
    height: 330px;
    padding-top: 40px;
  }

  .footer {
    flex-direction: column;
    gap: 40px;
  }

  .logo-footer {
    justify-content: center;
  }

  .list-container {
    display: flex;
    justify-content: center;
    order: -1;
  }

  .footer .list-menu {
    gap: 40px;
    padding-left: 0px;
  }

  .footer ol {
    font-size: 18px;
    font-weight: 500;
  }

  .copyright {
    margin-top: 50px;
  }

  .copyright p {
    font-weight: 400;
    font-size: 16px;
    padding-right: 0px;
  }

  .copyright a {
    font-size: 16px;
    font-weight: 400;
    color: #252822;
  } 
}