.product-tile-container {
    display: flex;
    margin-bottom: 4rem;
}

.product-tile-container img {
    width: 127px;
}

.product-tile-description-container {
    padding: 0 0 0 0.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.description-header h1 {
    color: #252822;
    font-size: 1.8rem;
    font-weight: 500;
}

.description-header h4 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.description-header h4 span {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #53B38D;
}

.description-content p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.description-first-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tile-quantity-container {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    border: 1px solid #53B38D;
    border-radius: 0.4rem;
    padding: 0.5rem 0.4rem;
}

.tile-quantity-container button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.description-second-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.4rem;
}

.tile-quantity-container span {
    font-size: 1.4rem;
    font-weight: 400;
}

.description-second-column p {
    font-size: 1.8rem;
    font-weight: 500;
}

.tile-delete-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1.4rem;
    font-weight: 600;
    color: #F24E1E
}

@media only screen and (max-width: 375px) {
    .product-tile-container,
    .product-tile-description-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .description-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .description-header h1 {
        text-align: center;
    }
    .description-content {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
    .description-first-column {
        gap: 1rem;
    }
    .description-second-column {
        flex-direction: row;
    }
    .tile-quantity-container {
        gap: 1rem;
    }
    .tile-quantity-container button {
        font-size: 1.2rem;
    }
    .tile-quantity-container span {
        font-size: 1.2rem;
    }
    .description-second-column {
        margin-top: 1rem;
        align-items: center;
    }
    .description-second-column p {
        font-size: 1.2rem;
    }
    .tile-delete-button {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .product-tile-container,
    .product-tile-description-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .description-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .description-header h1 {
        text-align: center;
    }
    .description-content {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .description-first-column {
        gap: 1rem;
    }
    .description-second-column {
        flex-direction: row;
    }
    .tile-quantity-container {
        gap: 1rem;
    }
    .tile-quantity-container button {
        font-size: 1.2rem;
    }
    .tile-quantity-container span {
        font-size: 1.2rem;
    }
    .description-second-column {
        margin-top: 1rem;
        align-items: center;
    }
    .description-second-column p {
        font-size: 1.2rem;
    }
    .tile-delete-button {
        font-size: 1.4rem;
    }
}