.search-location-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.location-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.location-header h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #275845;
}

.search-input-container {
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}

.search-input-container input {
    width: 35vw;
    border: none;
    font-size: 1.6rem;
}

.search-input-container input::placeholder {
    font-size: 1.6rem;
}

.search-input-container input:focus {
    outline: none;
}

.search-input-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    color: #53B38D;
}

@media only screen and (max-width: 1024px) {
    .search-location-container {
        justify-content: center;
        align-items: center;
    }
    .location-divisory {
        margin: 1rem 0 2rem 0;
    }
}