    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
    .main-products-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
    
    @media only screen and (max-width: 767px) {
        .main-products-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 9rem 0 15rem 0;
        }
    }
    
    @media only screen and (min-width: 767px) and (max-width: 1200px) {
        .main-products-container {
            gap: 3rem
        }
    }