    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
    .card-container {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.9rem;
        transition: transform 0.3s ease;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
    
    .product-image {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .product-image img {
        width: 244px;
        height: 244px;
        object-fit: cover;
        object-position: top;
    }
    
    .card-container:hover {
        transform: scale(1.01);
    }
    
    .product-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .product-price {
        color: #53B38D;
        font-size: 2rem;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    
    .card-product-description {
        color: #252822;
        font-size: 1.8rem;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    
    .product-category {
        color: #A6A39F;
        font-size: 1.8rem;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    
    .product-variations-container {
        display: flex;
        gap: 0.3rem;
        position: absolute;
        top: 84%;
        left: 2%;
    }
    
    .product-variations {
        cursor: pointer;
        color: #252822;
        font-size: 1.2rem;
        font-weight: 700;
        background-color: #FAFAFA;
        border-radius: 0.2rem;
        padding: 0.6rem 0.8rem;
        border: none;
    }
    
    .product-variations:hover {
        background-color: #d3d3d3;
    }
    
    @media only screen and (max-width: 698px) {
        .product-variations {
            padding: 0.6rem 0.8rem;
        }
    }
    
    @media only screen and (max-width: 1200px) {
        .product-variations-container {
            top: 82%;
            left: 3%;
        }
    }
    
    @media only screen and (min-width: 425px) and (max-width: 539px) {
        .product-details {
            width: 70%;
        }
    }