*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;  
}

body {
    font-family: 'Poppins', sans-serif;
}

/* .html-no-scroll {
    overflow-y: hidden;
} */

.main-header {
    width: 100%;
    height: 84px;
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 12rem;
}

.header-top-bar {
    display: flex;
    align-items: center;
}

.header-top-bar a {
    font-family: "Josefin Sans";
    color: #275845;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.8rem;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input {
    width: 31vw;
    height: 37px;
    border: 1px solid #A6A39F;
    border-radius: 0.4rem;
    padding: 0.8rem 1.2rem;
    display: flex;
}

.search-input input {
    width: 100%;
    background: #FAFAFA;
    color: #A6A39F;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

.search-input img {
    width: 1.6rem;
    cursor: pointer;
}

.nav {
    position: relative;
}

.nav ol {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 18px;
}

.nav ol li {
    margin: 0 2px;
}

.nav ol li a {
    color: #252822;;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 15px;
}

/* .nav ol li button {
    color: #FAFAFA;
    background: #53B38D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 15px;
} */

.nav ol li button {
    background: transparent;
    border: none;
}

.nav ol li .btn {
    color: #FAFAFA;
    background: #53B38D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 15px;
}

nav ol li:hover a {
    color: #53B38D;
}

/* nav ol li:hover button {
    background: #2AE89C;
    color: #252822;
    border-radius: 5px;
} */

nav ol li:hover .btn {
    background: #2AE89C;
    color: #252822;
    border-radius: 5px;
}

.hamburguer-menu {
    position: relative;
    margin: auto;
    display: none;
}

.hamburguer-menu span {
    color: #53B38D;
    font-size: 30px;
    position: absolute;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

/* Responsividade */
@media (max-width: 800px) {
    .main-header {
        width: 100%;
        height: 120px;
        padding: 1rem 3rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        display: block;
    }

    .header-top-bar {
        width: 84vw;
        justify-content: space-between;
        margin-top: 10px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 100%;
        margin-top: 20px;
    }

    .nav {
        transform: translate(-30px, 10px);

        /* transform: translate(-50px, 10px); */
        width: 100vw;
        height: 100vh;
        
    }

    .nav ol {
        /* width: 110vw; */
        width: 100vw;
        height: 0;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        transition: 0.3s;


        position: fixed;
    }


    .nav ol li {
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    .nav ol li a{
        display: block;
        padding: 25px;
        font-size: 24px;
    }

    .nav ol li button{
        display: block;
        font-size: 24px;
    }

    .nav ol li:nth-child(1) {
        transform: translateX(-150px);
    }
    .nav ol li:nth-child(2) {
        transform: translateX(-200px);
    }
    .nav ol li:nth-child(3) {
        transform: translateX(-250px);
    }
    .nav ol li:nth-child(4) {
        transform: translateX(-300px);
    }

    .nav .hamburguer-menu {
        display: block;
        /* position: absolute; */
        position: fixed;
        cursor: pointer;
        top: -100px;
        /* right: 38px; */
        right: 57px;
        
    }

    .nav .hamburguer-menu #times {
        display: none;
    }

    #check:checked ~ .nav .hamburguer-menu #times {
        display: block;
    }

    #check:checked ~ .nav .hamburguer-menu #bars {
        display: none;
    }

    #check:checked ~ .search-box {
        visibility: hidden;
    }

    #check:checked ~ .nav ol {
        position: fixed;
        height: 100vh;
        visibility: visible;
        overflow-y: hidden;
        background-color: #FAFAFA; 
    }

    #check:checked ~ .nav ol li:nth-child(1),
    #check:checked ~ .nav ol li:nth-child(2),
    #check:checked ~ .nav ol li:nth-child(3),
    #check:checked ~ .nav ol li:nth-child(4)
    {
        transform: translateX(0);
        opacity: 1;

    } 

}

@media (min-width: 801px) and (max-width: 1200px) {
    .main-header {
        width: 100%;
        padding: 1rem 3rem;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        position: relative;
        margin-bottom: 70px;
    }

    .header-top-bar {
        justify-content: space-between;
        position: relative;
        background: #FAFAFA;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .search-box {
        width: 100%;
        height: 70px;
        background: #FAFAFA;
        position: absolute;
        left: center;
        top: 100%;
        /* transform: translate(-50%, 0%); */
        transform: translate(-3.5%, 0%);
        order: 3;
    }

    .search-input {
        width: 92.5%;
        background: #FAFAFA;
        position: relative;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -170%);
        order: 3;
    }

    .search-input input{
        font-size: 16px;
    }

    .hamburguer-menu {
        display: none;
    }
}

