.cart-invoice-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cart-invoice-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.cart-invoice-content h1 {
    color: #275845;
    font-size: 3.2rem;
}

.cart-invoice {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.invoice-subtotal {
    display: flex;
    justify-content: space-between;
}

.invoice-subtotal p {
    font-size: 1.8rem;
    color: #252822;
}

.invoice-shipment {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.invoice-shipment p {
    font-size: 1.8rem;
    color: #252822;
}

.invoice-price {
    font-weight: 600;
}

.invoice-total {
    display: flex;
    justify-content: space-between;
}

.invoice-total p {
    font-size: 1.8rem;
    color: #53b38d;
}

.invoice-total-price {
    font-weight: 700;
}

.invoice-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.invoice-button button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 70%;
    padding: 0.8rem 10rem;
    color: #f8f8f8;
    background-color: #53b38d;
    border: none;
    border-radius: 0.4rem;
    transition: background 0.3s ease;
}

.invoice-button button:hover {
    background-color: #275845;
}

@media only screen and (max-width: 767px) {
    .cart-invoice-content {
        align-items: center;
    }
    .cart-invoice-content h1 {
        font-size: 2.2rem;
        text-align: center;
    }
    .cart-invoice {
        width: 100%;
    }
    .invoice-subtotal,
    .invoice-shipment,
    .invoice-total {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .invoice-button button {
        width: 100%;
        font-size: 1.4rem;
        padding: 0.8rem 2rem;
    }
    hr {
        height: 0.1rem;
        background-color: gray;
        width: 60%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .cart-invoice-container {
        gap: 5rem;
    }
    .cart-invoice-content {
        align-items: center;
    }
    .cart-invoice-content h1 {
        text-align: center;
    }
    .cart-invoice {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .invoice-subtotal,
    .invoice-shipment,
    .invoice-total {
        width: 70%;
    }
    .invoice-button button {
        width: 50%;
        font-size: 1.6rem;
    }
    hr {
        margin-top: 1rem;
        height: 1px;
        background-color: gray;
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .invoice-button button {
        padding: 0.8rem 4rem;
        width: 90%;
    }
}