.cart-container {
    padding: 4rem 12rem 0 12rem;
    width: 100%;
    margin-bottom: 10rem;
}

.cart-content {
    display: flex;
    /* gap: 16.3rem; */
    gap: 6rem;
}

.page-location {
    display: flex;
    align-items: center;
    margin-bottom: 5.6rem;
    color: #252822;
}

.page-location h3 {
    font-size: 2.2rem;
    font-weight: 600;
}

.cart-first-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cart-second-column {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .cart-container {
        padding: 4rem 6rem 0 6rem;
    }
    .cart-content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1024px) {
    .cart-container {
        padding: 4rem 6rem 0 6rem;
    }
    .cart-content {
        flex-direction: column;
    }
}