.product-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 3rem;
    row-gap: 4.6rem;
    margin-bottom: 3rem;
}

.pagination-selector-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.pagination-selector-container span {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.loader-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 425px) and (max-width: 800px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 6rem;
    }
}