@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.products-section {
    width: 100%;
    margin-top: 12rem;
    margin-bottom: 12rem;
    position: relative;
}

.products-section-container {
    margin: 0 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.6rem;
}

.list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.products-section h1 {
    width: 100%;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3.6rem;
}

@media only screen and (max-width: 800px) {
    .products-section-container {
        padding: 0 4rem;
        margin: 0;
    }
}

/* @media only screen and (max-width: 1200px) {
    .products-section-container {
        flex-direction: column-reverse;
    }
} */