@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.explore-section-container {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 71vh;
    font-family: 'Poppins';
    background-color: #2AE89C;
}

.explore-section-content {
    display: flex;
    justify-content: space-between;
    padding: 5.31rem 12rem 5.1rem 12rem;
}

.details-callout {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.explore-section-details {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 39vw;
    color: #252822;
    gap: 5.6rem;
}

.details-callout h1 {
    font-weight: 700;
    font-size: 7.2rem;
    line-height: 7.75rem;
}

.details-callout p {
    font-size: 2.4rem;
}

.explore-section-details a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    text-decoration: none;
    cursor: pointer;
    background: #275845;
    color: #FAFAFA;
    border: none;
    border-radius: 0.5rem;
    max-width: 23vw;
    padding: 1.2rem 5.2rem;
    transition: background 0.3s ease;
}

.explore-section-details a:hover {
    background: #183429;
}

.explore-section-details a span {
    font-size: 2.2rem;
}

@media only screen and (max-width: 768px) {
    .explore-section-container {
        max-height: 80vh;
    }
    .explore-section-content {
        align-items: center;
        padding: 7rem 3rem;
        width: 100%;
        max-height: inherit;
        flex-direction: column-reverse;
    }
    .explore-section-details {
        align-items: center;
        max-width: 100%;
        gap: 3.6rem;
    }
    .details-callout {
        margin-top: 1.6rem;
        max-width: 84vw;
        gap: 1.6rem;
    }
    .details-callout h1 {
        text-align: center;
        font-size: 4rem;
        line-height: 6rem;
    }
    .details-callout p {
        max-width: 80vw;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .explore-section-details a {
        max-width: 100%;
    }
    .explore-section-details a span {
        font-size: 1.6rem;
    }
    #explore-section-img {
        width: 30rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1076px) {
    .explore-section-content {
        align-items: center;
        padding: 5.3rem 6rem;
        gap: 5.7rem;
    }
    .explore-section-details {
        min-width: 45vw;
        gap: 5.1rem;
    }
    .details-callout {
        gap: 2.4rem;
    }
    .details-callout h1 {
        font-size: 4.8rem;
        line-height: 5rem;
    }
    .details-callout p {
        font-size: 2rem;
        line-height: 3rem;
    }
    .explore-section-details a {
        max-width: 73%;
    }
    .explore-section-details a span {
        font-size: 1.5rem;
    }
    #explore-section-img {
        width: 37vw;
    }
}

@media only screen and (min-width: 1077px) and (max-width: 1440px) {
    .explore-section-content {
        gap: 10rem;
    }
    .explore-section-details {
        max-width: 400px;
        gap: 4rem;
    }
    .details-callout {
        gap: 1.2rem;
    }
    .details-callout h1 {
        font-size: 5.5rem;
        line-height: 5.5rem;
    }
    .explore-section-details a {
        max-width: 255px;
    }
    .explore-section-details a span {
        font-size: 1.5rem;
    }
    #explore-section-img {
        width: 347px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1699px) {
    .explore-section-details {
        max-width: 55vw;
    }
    .explore-section-content {
        gap: 12rem;
    }
    #explore-section-img {
        width: 37vw;
    }
}

@media only screen and (min-width: 1700px) {
    .explore-section-content {
        gap: 25rem;
    }
    .explore-section-details {
        width: 541px;
    }
    .explore-section-details a {
        max-width: 73%;
    }
}

@media only screen and (max-height: 1200px) {
    .explore-section-container {
        max-height: inherit;
    }
}