@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 110vh;
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-container {
    position: relative;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8rem 12rem;
    width: 78vw;
    height: 85vh;
}

#close-modal-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: fixed;
    left: 80%;
    top: 22%;
    transform: translate(-50%, -50%);
}

.modal-header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 6rem;
}

.modal-header h4 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 14rem;
}

.first-column {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    max-width: 603px;
}

.second-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2.9rem;
}

.row-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-title {
    font-size: 3.6rem;
    font-weight: 600;
}

.product-content {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
}

.quantity-container {
    margin-top: 1.2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 4rem;
}

.quantity-container p {
    font-size: 3.6rem;
    font-weight: 700;
}

.modal-product-image {
    width: 494px;
}

.quantity-container button {
    background-color: transparent;
    border: none;
}

.modal-product-price h3 {
    font-size: 4.8rem;
    font-weight: 600;
    color: #275845;
}

.modal-actions {
    width: 100%;
    display: flex;
    margin-top: 4.4rem;
}

.admin-actions {
    margin-top: 2rem;
    display: flex;
    gap: 6rem;
}

.edit-action,
.delete-action {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    transition: transform 0.3s ease;
}

.action {
    font-size: 3.2rem;
    font-weight: 600;

    text-decoration: none;
}

#modal-delete-button {
    color: #F24E1E;
}

.delete-action:hover {
    transform: scale(1.1);
}

#modal-edit-button {
    color: #53B38D;
}

.edit-action:hover {
    transform: scale(1.1);
}

.client-actions button,
.add-to-cart-btn>button {
    cursor: pointer;
    padding: 1.2rem 12.4rem;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    color: #F8F8F8;
    background-color: #53B38D;
    transition: background 0.3s ease;
}

.client-actions button:hover,
.add-to-cart-btn button:hover {
    background-color: #408a6d;
}

.quantity-container button {
    cursor: pointer;
}

.add-to-cart-btn>button {
    display: none;
}