@media only screen and (max-width: 767px) {
    .modal-background {
        width: 110vw;
    }
    .modal-container {
        padding: 0 4rem;
        position: absolute;
        top: 0;
        height: 110vh;
        width: 100vw;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
    }
    .modal-content {
        padding: 22rem 0rem;
    }
    #close-modal-button {
        position: absolute;
        top: 14%;
        left: 83%;
    }
    .modal-header {
        text-align: center;
    }
    .column-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
    }
    .first-column {
        text-align: center;
        margin-bottom: 4.25rem;
    }
    .quantity-container {
        margin-top: 3rem;
    }
    .info-title {
        margin-bottom: 1.5rem;
    }
    .product-content {
        max-width: 500px;
    }
    .row-content {
        justify-content: center;
        align-items: center;
    }
    .modal-actions {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 4.4rem;
    }
    .client-actions {
        display: flex;
        justify-content: center;
    }
    .client-actions button,
    .add-to-cart-btn>button {
        display: none;
        font-size: 1.4rem;
        padding: 0.8rem 7rem;
        margin-bottom: 7rem;
    }
    .admin-actions {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }
    .admin-actions img {
        max-width: 40px;
    }
    .action {
        font-size: 2rem;
    }
    .modal-product-image {
        max-width: 315px;
    }
    .add-to-cart-btn>button {
        display: block;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .modal-background {
        width: 110vw;
        overflow-x: hidden;
    }
    .modal-container {
        width: 88vw;
        height: fit-content;
        padding: 8rem 6rem;
    }
    .modal-header h4 {
        font-size: 2.2rem;
    }
    #close-modal-button {
        position: absolute;
        top: 11%;
        left: 87%;
    }
    #close-modal-button img {
        max-width: 20px;
    }
    .column-content {
        gap: 4rem;
    }
    .quantity-container {
        margin-top: 3rem;
    }
    .modal-product-image {
        max-width: 250px;
    }
    .info-title {
        font-size: 2.2rem;
    }
    .product-content {
        max-width: 380px;
        font-size: 1.6rem;
    }
    .modal-product-price h3 {
        font-size: 3.6rem;
    }
    .action {
        font-size: 2.4rem;
    }
    .client-actions button {
        font-size: 1.6rem;
        padding: 1.2rem 4rem;
    }
    .first-column {
        max-width: 45%;
    }
    .row-content {
        margin-top: 3rem;
    }
    .modal-actions {
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
    }
    .modal-actions img {
        width: 32px;
    }
    .admin-actions {
        gap: 1rem;
        margin-top: 0;
    }
    .delete-action {
        gap: 1rem;
    }
    .edit-action {
        gap: 1rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .modal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 78vw;
        height: fit-content;
        padding: 4rem 6rem;
    }
    .modal-header h4 {
        font-size: 2.4rem;
    }
    #close-modal-button {
        position: absolute;
        top: 9%;
        left: 87%;
    }
    #close-modal-button img {
        max-width: 20px;
    }
    .column-content {
        gap: 4rem;
    }
    .modal-product-image {
        max-width: 250px;
    }
    .info-title {
        font-size: 2.2rem;
    }
    .product-content {
        max-width: 380px;
        font-size: 1.4rem;
    }
    .modal-product-price h3 {
        font-size: 2.4rem;
    }
    .action {
        font-size: 2.4rem;
    }
    .client-actions button {
        width: fit-content;
        font-size: 1.4rem;
        padding: 1.2rem 4rem;
    }
    .first-column {
        max-width: 100%;
        gap: 1rem;
    }
    .row-content {
        margin-top: 3rem;
    }
    .modal-actions {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
    }
    .modal-actions img {
        width: 32px;
    }
    .admin-actions {
        gap: 2rem;
    }
    .delete-action {
        gap: 1rem;
    }
    .edit-action {
        gap: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .modal-container {
        width: 80vw;
        max-width: 1200px;
        height: fit-content;
        padding: 8rem 6rem;
    }
    .modal-header h4 {
        font-size: 3.6rem;
    }
    #close-modal-button {
        position: absolute;
        top: 11%;
        left: 87%;
    }
    #close-modal-button img {
        max-width: 20px;
    }
    .column-content {
        gap: 4rem;
    }
    .second-column {
        width: 300px;
    }
    .quantity-container {
        margin-top: 3rem;
    }
    .modal-product-image {
        max-width: 250px;
    }
    .info-title {
        font-size: 2.2rem;
    }
    .product-content {
        max-width: 380px;
        font-size: 1.6rem;
    }
    .modal-product-price h3 {
        font-size: 3.6rem;
    }
    .action {
        font-size: 2.4rem;
    }
    .client-actions button {
        font-size: 1.6rem;
        padding: 1.2rem 4rem;
    }
    .first-column {
        max-width: 50%;
    }
    .row-content {
        margin-top: 3rem;
    }
    .modal-actions {
        max-width: 1000px;
        justify-content: space-between;
        align-items: center;
        gap: 15vw;
        margin-top: 0;
    }
    .modal-actions img {
        width: 32px;
    }
    .admin-actions {
        gap: 4rem;
    }
    .delete-action {
        gap: 1rem;
    }
    .edit-action {
        gap: 1rem;
    }
}