.modal-product-variations-container {
    display: flex;
    gap: 0.3rem;
    position: absolute;
    top: 62%;
    left: 4%
}

.modal-product-variations {
    cursor: pointer;
    color: #252822;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #FAFAFA;
    border-radius: 0.2rem;
    padding: 0.6rem 0.8rem;
    border: none;
}

.modal-product-variations:hover {
    background-color: #d3d3d3;
}

@media only screen and (min-width: 767px) and (max-width: 933px) {
    .modal-product-variations-container {
        top: 33%;
        left: 8%;
    }
}

@media only screen and (min-width: 933px) and (max-width: 973px) {
    .modal-product-variations-container {
        top: 35%;
        left: 8%;
    }
}

@media only screen and (min-width: 973px) and (max-width: 1024px) {
    .modal-product-variations-container {
        top: 35%;
        left: 8%;
    }
}

@media only screen and (min-width:1024px) and (max-width: 1439px) {
    .modal-product-variations-container {
        top: 49%;
    }
}

@media only screen and (min-width:1440px) and (max-width: 1440px) {
    .modal-product-variations-container {
        top: 42%;
        left: 20%;
    }
}

@media only screen and (min-width:1441px) {
    .modal-product-variations-container {
        top: 35%;
        left: 20%;
    }
}