.main-product {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 26vw;
    height: 229px;
    margin-top: 15rem;
    position: relative;
    transition: transform 0.3s ease;
}

.main-product:hover {
    transform: scale(1.02);
}

.main-product-callout h4 {
    font-family: "Poppins";
    font-size: 3.2rem;
    font-weight: 500;
    color: #252822;
}

.main-product-callout a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    color: #252822;
}

.shape {
    width: 26vw;
    height: 229px;
    background-color: #2AE89C;
    border-radius: 0.5rem 0.5rem 5rem 5rem;
    z-index: -1;
    position: absolute;
    transform: translate(0%, 20%);
}

@media only screen and (max-width: 768px) {
    .main-product {
        gap: 1rem;
        margin-top: 4rem;
    }
    .main-product-callout h4 {
        font-size: 2rem;
    }
    .main-product-callout a {
        font-size: 1.2rem;
    }
    .shape {
        width: 60vw;
        height: 160px;
        transform: translate(0%, 20%);
    }
    .main-product-image {
        width: 134px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .main-product {
        min-width: 24vw;
        gap: 1rem;
        margin-top: 4rem;
    }
    .main-product-callout h4 {
        font-size: 2rem;
    }
    .main-product-callout a {
        font-size: 1.2rem;
    }
    .shape {
        width: 24vw;
        height: 112px;
        transform: translate(0%, 18%);
    }
    .main-product-image {
        width: 116px
    }
}