* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.register-body {
    font-family: 'Poppins', sans-serif;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;
}

.form-title h1 {
    color: #275845;
    font-weight: 700;
    font-size: 70px;
    line-height: 108px;
}

.form-title h2 {
    color: #252822;
    font-weight: 300;
    font-size: 50px;
    line-height: 49px;
}

.form-container {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 120px;
}

.image-container {
    width: 40%;
    height: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container h3 {
    color: #275845;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.checkout-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.input-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-line-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
}

.half {
    width: 60%;
}

.input-line label {
    color: #275845;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.img-preview {
    height: 100%;
    color: #275845;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.display-image {
    width: 100%;
    height: 244px;
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
}

.delete-img {
    color: #275845;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: none;
    background: transparent;
}

.title-1 {
    color: #275845;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.title-2 {
    color: #53B38D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.title-hidden {
    display: none;
    color: #53B38D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.input-line input[type="text"] {
    width: 100%;
    height: 40px;
    color: #252822;
    background: #FAFAFA;
    border: 1px solid #9D9A95;
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    padding: 0 10px;
}

.double-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-description {
    width: 100%;
    height: 134px;
    resize: none;
    color: #252822;
    background: #FAFAFA;
    border: 1px solid #9D9A95;
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: justify;
    padding: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container .input-line {
    width: 35%;
}

.input-container .brand {
    width: 60%;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.select-container .input-line {
    width: 40%;
}

.input-line select {
    width: 100%;
    height: 40px;
    color: #252822;
    background: #FAFAFA;
    border: 1px solid #9D9A95;
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    padding: 0 10px;
}

select.arrow {
    color: #53B38D;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('images/arow.svg');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 9px;
}

.input-container .category {
    width: 80%;
}

.register-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-btn input {
    width: 60%;
    height: 52px;
    background: #53B38D;
    color: #FAFAFA;
    border-radius: 5px;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #2AE89C;
    color: #252822;
}

@media (max-width: 800px) {
    .form-title {
        width: 315px;
        margin-bottom: 80px;
    }

    .form-title h1 {
        font-size: 32px;
        line-height: 48px;
        text-align: center;
    }

    .form-title h2 {
        font-weight: 300;
        font-size: 16px;
        line-height: 146.4%;
        text-align: center;
    }

    .form-container {
        flex-direction: column;
        gap: 32px;
    }

    .checkout-form {
        gap: 15px;
    }

    .image-container {
        width: 100%;
        height: 314px;
        display: flex;
        flex-direction: column;
    }

    .img-preview {
        height: 314px;
    }

    .input-line label {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .input-line-2 {
        margin-bottom: 0;
    }

    .title-1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .title-2 {
        display: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }

    .hidden-title {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 0.5rem;
    }

    .title-hidden {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }

    .input-container {
        flex-direction: column;
    }

    .input-container .input-line {
        width: 100%;
    }

    .input-container .brand {
        width: 100%;
    }

    .select-container {
        width: 100%;
    }

    .select-container .input-line {
        width: 40%;
    }

    .half {
        width: 100%;
    }

    .register-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-btn input {
        width: 100%;
        height: 46px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .form-title {
        width: 463px;
        margin-bottom: 20px;
    }

    .form-title h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
    }

    .form-title h2 {
        font-weight: 300;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
    }

    .form-container {
        flex-direction: column;
        gap: 65px;
    }

    .checkout-form {
        gap: 25px;
    }

    .image-container {
        width: 100%;
        height: 314px;
        display: flex;
        flex-direction: column;
    }

    .input-line label {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .title-1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .title-2 {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }

    .select-container .input-line {
        width: 40%;
    }

    .register-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-btn input {
        height: 52px;
        font-weight: 500;
        font-size: 22px;
        line-height: 20px;

    }
}