@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.empty-cart-container {
    padding: 8rem 12rem 0 12rem;
    display: flex;
    width: 100%;
    margin-bottom: 10rem;
}

.empty-cart-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-location {
    display: flex;
    align-items: center;
}

.page-location h3 {
    font-size: 2.2rem;
    font-weight: 600;
}

.empty-cart-message-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-cart-message {
    width: 90%;
}

.empty-cart-message h2 {
    color: #275845;
    font-size: 3.2rem;
    font-weight: 600;
}

.empty-cart-message h4 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    color: #252822;
}

.empty-cart-message a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    color: #252822;
}

.seen-recently {
    width: 247px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .empty-cart-container {
        padding: 6rem 2rem;
        margin-bottom: 6rem;
    }
    .empty-cart-first-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .page-location {
        justify-content: center;
    }
    .empty-cart-content {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 9rem;
    }
    .empty-cart-content h2,
    .empty-cart-content h4 {
        text-align: center;
    }
    .empty-cart-message {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .seen-recently {
        width: fit-content;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .empty-cart-container {
        padding: 6rem 6rem;
        margin-bottom: 6rem;
    }
    .empty-cart-first-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .page-location {
        justify-content: center;
    }
    .empty-cart-content {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 9rem;
    }
    .empty-cart-content h2,
    .empty-cart-content h4 {
        text-align: center;
    }
    .empty-cart-message {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .seen-recently {
        width: fit-content;
    }
}

@media only screen and (min-width: 1500px) {
    .empty-cart-content {
        justify-content: space-between;
    }
    .empty-cart-first-column {
        min-width: 70vw;
    }
    .empty-cart-message {
        max-width: 50vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}