.seen-recently-container {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
}

.seen-recently-container h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #275845;
}

.seen-products {
    display: flex;
    gap: 8.4rem;
}

.second-card {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .seen-recently-container h1 {
        font-size: 2.4rem;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .second-card {
        display: block;
    }
    .seen-recently-container h1 {
        text-align: center;
    }
}